body {
  background-color: #cae1f3;
}

.ui.secondary.pointing.menu .active.item {
  color: #09186a;
  border-bottom-color: #09186a;
}

.trash:hover {
  color: #b03060;
}

.stickyFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .five.wide.column {
    max-width: 290px;
  }
  .ui.modal > .actions {
    padding: 1rem !important;
  }
}
